<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="new_style.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js'></script>
    <script>
        var app = angular.module("home", []).controller("homeController", function ($scope, $http) {
            $scope.email=window.localStorage.getItem("email")
            $scope.message = "Let's start making some notes!!";
            $scope.i = 0;
            if($scope.email==null){
                window.location="/view/signin.html";
            }
            $http({
                method: 'GET',
                url: 'http://localhost:3001/index/'+$scope.email,
            }).then(function successCallback(response) {
                $scope.data = response.data;
                if($scope.data.length != 0){
                    $scope.message = "You have "+$scope.data.length+" notes!";
                }
                else{
                    $scope.message = "Let's start making some notes!!";
                }
            }, function errorCallback(response) {
                console.log(response);
            });
            $scope.delete = function (id) {
                console.log('http://localhost:3001/delete/' + id,);
                $http({
                    method: 'GET',
                    url: 'http://localhost:3001/delete/' + id,
                }).then(function successCallback(response) {
                    $scope.data = response.data;
                    console.log($scope.data);
                }, function errorCallback(response) {
                    console.log(response);
                });
                if (window.confirm('Your note is deleted')) {
                    window.location = '/view/home.html';
                }
            }
            $scope.logOut = function(){
                window.localStorage.removeItem("email")
                console.log("Logging out");
                window.localStorage.getItem("email")
            }
        });
    </script>
</head>

<body ng-app="home" ng-controller="homeController">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid" ng-init="checkLogin()">
            <form class="d-flex">
                <a href="/view/noteNew.html" class="button"> + New Note</a>
                <a ng-click="logOut()" class = "button">Log Out</a>
            </form>
        </div>
    </nav>
    <h1>Notec</h1>
    {{message}} <br>
    <div class="home_doc"  ng-repeat="doc in data">
        <h2>{{doc.title}}</h2>
        <p>Date Created: {{doc.dateCreated}}</p>
        <a ng-href="/view/noteEdit.html?id={{doc._id}}"><button class="button" >Edit</button></a><button id="del"class="button" ng-click="delete(doc._id)">Delete</button></a><br>
    </div>
</body>

</html>