<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js'></script>
    <script>
        var app = angular.module("login", []).controller("loginController", function ($scope, $http) {
            $scope.submitForm = function () {
                console.log("Hello world");
                if ($scope.userForm.$valid) {
                    alert("Form is valid");
                    console.log($scope.user);
                    $http({
                        method: 'POST',
                        url: 'http://localhost:3000/login',
                        data: $scope.user
                    }).then(function (httpresponse) {
                        console.log('response:' + httpresponse);
                    })
                }
                else {
                    alert("Form is invalid");
                }
            };
            $scope.passType = "password";
            $scope.showHidePassword = function () {
                if ($scope.passType == "password") {
                    $scope.passType = "text";
                } else {
                    $scope.passType = "password";
                }
                console.log($scope.passType);
            };
        });
    </script>
    <style>
        .error {
            color: red;
            font-weight: bold;
        }

        input.ng-pristine {
            background-color: rgba(89, 89, 255, 0.658);
        }

        input.ng-touched.ng-invalid {
            background-color: red;
        }
    </style>
</head>

<body ng-app="login" ng-controller="loginController">
    <form name="userForm" novalidate ng-submit="submitForm()">
        <label for="email">Email:</label>
        <input type="email" name="email" ng-model="user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
        <span ng-show="userForm.email.$touched && userForm.email.$error.pattern" class="error">Wrong
            pattern</span><br /><br />
        <label for="password">Password:</label>
        <input type="{{passType}}" name="password" ng-model="user.password"
            ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/">
        <input type="checkbox" name="passwordVisible" id="passwordVisible" ng-model="passwordVisible"
            ng-click="showHidePassword()" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>