<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="new_style.css">
    <title>New Note</title>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        var app = angular.module("notes", []).controller("noteController", function ($scope, $http) {
            $scope.shared = false
            $scope.sharedID = []
            $scope.toggleShare = function () {
                $scope.shared = !$scope.shared
                $scope.sharedID=[];
            }
            $scope.addShare = function () {
                $scope.sharedID.push(document.getElementById("email").value)
                console.log($scope.sharedID);
            }
            $scope.convertToMD = function () {
                $scope.markdown = marked.parse(document.getElementById("body").value);
                console.log($scope.markdown);
                document.getElementById("output").innerHTML = $scope.markdown;
                console.log($scope.body);
            };
            $scope.saveForm = function () {
                console.log("saving");
                $scope.note = {
                    title: $scope.title,
                    unedited: $scope.body,
                    shared: $scope.shared,
                    author: window.localStorage.getItem("email"),
                    shared_id: $scope.sharedID,
                    shared: $scope.shared
                };
                console.log($scope.note);
                $http({
                    method: 'POST',
                    url: 'http://localhost:3001/new',
                    data: $scope.note
                }).then(function (httpresponse) {
                    console.log('response:' + httpresponse);
                })
                if (window.confirm('Your note is saved')) {
                    window.location = '/view/home.html';
                }
            };
        })
    </script>
</head>

<body ng-app="notes" ng-controller="noteController">
    <form ng-submit="saveForm()" novalidate name="form">
        Title: <br> <input type="text" name="title" id="title" ng-model="title"><br>
        <input type="checkbox" class="chk" name="shareDoc" id="shareDoc" ng-click="toggleShare()"> <label
            for="shareDocLabel">Share Document</label>
        <div ng-if=shared><input type="text" name="email" id="email">
            
        <button type="button" class="button"
                ng-click="addShare()">Share</button></div>
        <br>
        Your Notes! <br>
        <textarea name="body" id="body" cols="30" rows="10" ng-model="body" ng-change="convertToMD()"></textarea>
        <div id="output"></div><br>

        <button class="button" type="submit">Save</button>
        <button class="button" type="reset">Reset</button>

    </form>
</body>

</html>