<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title>View Your note</title>
    <link rel="stylesheet" href="new_style.css">
    <script>
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                hash[1] = unescape(hash[1]);
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }

            return vars;
        }
        console.log('http://localhost:3001/view/' + getUrlVars()["id"]);
        var app = angular.module("notes", []).controller("noteController", function ($scope, $http) {
            $scope.note = {}
            $scope.note = {
                title: $scope.note.title,
                body: $scope.markdown,
                unedited: $scope.note.body,
            };
            $scope.shared = false
            $scope.sharedID = []
            $scope.toggleShare = function () {
                $scope.shared = !$scope.shared
                $scope.sharedID = [];
            }
            $scope.addShare = function () {
                $scope.sharedID.push(document.getElementById("email").value)
                console.log($scope.sharedID);
            }
            $http({
                method: 'GET',
                url: 'http://localhost:3001/view/' + getUrlVars()["id"]
            }).then(function (httpresponse) {
                // console.log("GOT DATA");
                $scope.note = httpresponse.data;
                $scope.shared_id = $scope.note.shared_id;
                $scope.shared = $scope.note.shared;
                console.log($scope.note.shared_id);
                if (($scope.shared_id.indexOf(window.localStorage.getItem("email")) != -1 || $scope.note.author == window.localStorage.getItem("email")) && $scope.note.shared) {
                    $scope.shouldShare = true
                }
                console.log($scope.shouldShare);
            });
            $scope.convertToMD = function () {
                $scope.markdown = marked.parse(document.getElementById("body").value);
                document.getElementById('output').innerHTML = $scope.markdown;
            };
            $scope.save = function () {
                console.log("Hello world");
                $scope.note = {
                    title: $scope.note.title,
                    unedited: $scope.note.unedited,
                    shared: $scope.shared,
                    shared_id: $scope.shared_id,
                };
                console.log($scope.note);
                console.log('http://localhost:3001/update/' + getUrlVars()["id"]);
                $http({
                    method: 'POST',
                    url: 'http://localhost:3001/update/' + getUrlVars()["id"],
                    data: $scope.note,
                }).then(function (httpresponse) {
                    console.log('response:' + httpresponse.status);
                    if (httpresponse.status == 200) {
                        window.location = '/view/home.html';
                    }
                })
            };
        });
    </script>
</head>

<body>
    <div ng-app="notes" ng-controller="noteController" ng-show="shouldShare">
        Change title:<br>
        <input type="text" name="title" id="title" ng-model="note.title"><br><br>
        <input type="checkbox" class="chk" name="shareDoc" id="shareDoc" ng-click="toggleShare()" checked=shared><label
            for="shareDocLabel">Share Documenet</label>
        <div ng-if=shared><input type="text" name="email" id="email"><button class="button" type="button" value="share"
                ng-click="addShare()">Share</button></div><br>
        Shared with {{sharedID}}<br>
        <br>Edit your notes here:<br>
        <textarea id="body" name="body" ng-model="note.unedited" rows="10" cols="50"
            ng-change="convertToMD()"></textarea>
        <div id="output" ng-init="convertToMD()"></div><br>
        <br><br>
        <button class="button" type="submit" ng-click="save()">Submit</button>
    </div>
</body>

</html>