<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js'></script>
    <title>View Your note</title>
    <link rel="stylesheet" href="new_style.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                hash[1] = unescape(hash[1]);
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }

            return vars;
        }
        console.log('http://localhost:3001/view/' + getUrlVars()["id"]);
        var app = angular.module("notes", []).controller("noteController", function ($scope, $http) {
            $scope.note = {}
            $http({
                method: 'GET',
                url: 'http://localhost:3001/view/' + getUrlVars()["id"]
            }).then(function (httpresponse) {
                $scope.note = httpresponse.data;
                console.log($scope.note);
            });
            $scope.removeHTML = function (str) {
            var tmp = document.createElement("DIV");
            tmp.innerHTML = str;
            return tmp.textContent || tmp.innerText || "";
            }
            $scope.convertToMD = function () {
                console.log();
                document.getElementById('output').innerHTML = $scope.note.body;
            };
        });
    </script>
</head>

<body ng-app="notes" ng-controller="noteController">

    Change title:<br>
    <input type="text" name="title" id="title" ng-model="note.title"><br><br>
    Edit your notes here:<br        >
    <textarea id="body" name="body" ng-model="note.body" rows="10" cols="50"></textarea>
    <br><br>
    <div id="buttons">
        <button type="submit">Save</button>
        <button type="reset">Reset</button>
    </div>    
</div>
</body>

</html>