<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js'></script>
    <link rel="stylesheet" href="style_signin.css">
    <script>
        var app = angular.module("signin", []).controller("signinController", function ($scope, $http) {
            $scope.submitForm = function () {
                console.log("Hello world");
                if ($scope.userForm.$valid) {
                    $http({
                        method: 'POST',
                        url: 'http://localhost:3000/signin',
                        data: $scope.user
                    }).then(function (httpresponse) {
                        console.log('response:' + httpresponse);
                    })
                    window.localStorage.setItem("email",$scope.user.email);
                    window.location="/view/home.html";
                }
                else {
                    alert("Form is invalid");
                }
            };
            $scope.passType = "password";
            $scope.showHidePassword = function () {
                if ($scope.passType == "password") {
                    $scope.passType = "text";
                } else {
                    $scope.passType = "password";
                }
                console.log($scope.passType);
            };
        });
    </script>
    <style>
        .error {

            text-align: center;
            font-weight:400;
            color: red;

        }

        input.ng-pristine {
            background-color: #ffa2d898;
        }
        input.ng-touched{
            background-color:#ffa2d898;
        }

        input.ng-touched.ng-invalid{

            background-color: rgb(243, 76, 76);
        }
    </style>
</head>

<body ng-app="signin" ng-controller="signinController">
    <h1>Notec</h1>
    <div class="signin"> ></div>
    <form name="userForm" novalidate ng-submit="submitForm()">
        <h4>Sign In</h4>
        <label for="firstName" {text-align: right;}>First Name:</label>
        <input class = "input" type="text" name="firstName" ng-model="user.firstName" ng-required="true">
        <span ng-show="userForm.firstName.$touched && userForm.firstName.$error.required" class="error"><br>First name is
            required</span>
        <br /><br />

        <label for="lastName" br>Last Name:</label>
        <input class = "input" type="text" name="lastName" ng-model="user.lastName" ng-minlength="3" ng-maxlength="10">
        <span class="error"ng-show="userForm.lastName.$touched && userForm.lastName.$error.minlength"><br>A minimum of 3 characters are
            required</span>
        <span ng-show="userForm.lastName.$touched && userForm.lastName.$error.maxlength" class="error">A maximum of 10
            characters are allowed</span>
        <br /><br />

        <label for="password" {text-align: right;}>Password:</label>
        <input class = "input" type="{{passType}}" name="password" ng-model="user.password"
            ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/">
        <br><input id= "chk" class = "input" type="checkbox" name="passwordVisible" id="passwordVisible" ng-model="passwordVisible"
            ng-click="showHidePassword()" />
        <label for="checkbox" ng-if="passwordVisible" {text-align: left;}>Hide password</label>
        <label for="checkbox" ng-if="!passwordVisible"{text-align: left;}>Show password</label>
        <br><span
        <span
            ng-show="userForm.password.$touched && userForm.password.$error.pattern && userForm.password.$error.pattern"
            class="error"><br>Password must contain at least one letter and one number, and at least 8
            characters</span><br />

        <label for="confirmPassword" {text-align: right;}>Confirm:</label>
        <input class = "input" type="password" name="cPassword" id="cPassword" ng-model="cPassword">
        <span ng-show="cPassword!=user.password" class="error"><br>Passwords do not match</span>
        <br /><br />
        <label for="email">Email:</label>
        <input class = "input" type="email" name="email" ng-model="user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
        <span ng-show="userForm.email.$touched && userForm.email.$error.pattern" class="error"><br>Wrong
            pattern</span><br /><br />

        <label for="phone">Phone:</label>
        <input class = "input" type="text" name="phone" ng-model="user.phone" ng-pattern="/^[0-9]{10}$/">
        <span ng-show="userForm.phone.$touched && userForm.phone.$error.pattern" class="error"><br>Wrong
            pattern</span><br /><br />

        <button type="submit">Submit</button>
        <a href="/view/login.html">Been here before</a>
    </form>

</body>

</html>